* {
  margin: 0;
  padding: 0;
  font-size: 2.5vw;
  /* text-align: center; */
}
html {
  background: url("./main-bg.png") center bottom fixed no-repeat;
  background-size: contain;
}
#navbar {
  max-height: 15vh;
  padding: 3vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
  gap: 10px;
}

h2 {
  font-size: 5vw;
}
#navBtns {
  display: flex;
  gap: 10px;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

ol {
  box-sizing: border-box;
  list-style-position: inside;
  /* display: inline-block; */
}

ol li {
  margin-top: 5px;
}
#main-wrapper {
  width: 80vw;
  min-height: 10vw;
  background-color: rgba(222, 222, 222, 0.8);
  margin: auto;
  margin: 5vh auto;
}

#home-content {
  padding: 3%;
  gap: 2vw;
  display: flex;
}

#home-image {
  max-width: 40%;
  max-height: auto;
}

#home-text {
  white-space: pre-line;
}

.menu-section-wrapper {
  display: flex;
  gap: 3vw;
  align-items: center;
  padding: 3%;
  font-size: 2.5vw;
}

#contact-content {
  text-align: center;
}

#contact-content p {
  margin-bottom: 10px;
}
