* {
  margin: 0;
  padding: 0;
  text-align: center;
}
html {
  background: url("./main-bg.png") center bottom fixed no-repeat;
  background-size: contain;
}
#navbar {
  height: 10vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid grey;
  gap: 10px;
}

ul {
  display: flex;
  gap: 15px;
  list-style: none;
}

#main-wrapper {
  width: 80vw;
  min-height: 10vw;
  background-color: rgba(146, 146, 146, 0.5);
  margin: auto;
  margin-top: 5vh;
}

#home-content {
  padding: 3%;
  gap: 2vw;
  display: flex;
}

#home-image {
  max-width: 40%;
  max-height: auto;
}
